@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* Global */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

img {
    display: block;
    max-width: 100%;
}

/* Variáveis */
:root {
    --ff-primary: "Nunito" Arial, Helvetica, sans-serif;
    --clr-green-dark: #049A40;
    --clr-green-light: #0BF96A;
    --clr-pink-dark: #E10BF9;
    --clr-pink-light: #F3A0FD;
    --clr-white: #F5F5F5;
}

body {
    background-color: var(--clr-white);
    font-family: var(--ff-primary);
}

a,
a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

p {
    line-height: 21.82px;
    padding: 0px 10px;
}

hr {
    border: none;
    background-color: var(--clr-pink-dark);
    height: 2px;
    width: 140px;    
    margin: 20px auto;
}

.titulo-principal {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
/* Menu */

.menu-c {
    background-color: var(--clr-green-light);
}

.menu {
    max-width: 960px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    padding: 20px 10px;
    font-size: 20px;
}
/* Quem Somos */
.somos {
     max-width: 960px;
    margin: 0 auto;
}

.somos-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.somos-discricao {
    flex: 6 1 160px;
    padding: 10px;
}

.somos-img {
    flex: 1 1 350px;
}

/* Nossos Cursos */

.curso {
    max-width: 960px;
    margin: 0 auto;
}

.curso-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.curso-info {
    max-width: 290px;
    margin: 0 auto;
}

.curso-titulo {
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
    margin: 10px 5px;
}

.curso-discricao {
    max-width: 275px;
    font-size: 1.01rem;
}

/* planos*/
.planos {
    background-color: var(--clr-pink-light);
}

.plano-c {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: flex-end;
}

.plano-info {
    width: 290px;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid var(--clr-green-light);
}

.plano-info:last-child .plano-item::before , .plano-info:last-child .plano-linha{
    background-color: var(--clr-pink-dark);
}

.plano-info:last-child , .plano-info:last-child .plano-button{
    border: 2px solid var(--clr-pink-dark);
    background-color: var(--clr-green-light);
}
.plano-titulo {
    text-align: center;
    font-size: 3rem;
}

.plano-din {
    display: block;
    text-align: center;
    font-size: 3rem;
}

.plano-din sup{
    text-align: center;
    font-size: 1.6rem;
}

.plano-linha {
    background-color: var(--clr-green-light);
    width: 30px;
    margin: 8px auto;
}

.plano-items {
    font-size: 17px;
    font-style: italic;
    width: 190px;
    margin: 0 auto;
}

.plano-item {
    display: flex;
    padding: 5px 0px;
    align-items: center;
}

.plano-item::before {
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    margin-right: 6px;
    background-color: var(--clr-green-light);
}

.plano-button {
    display: block;
    width: 199px;
    margin: 10px auto;
    padding: 5px;
    border: none;
    border: 2px solid var(--clr-green-light);
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 620px) {
    .plano-info:nth-child(3) {
        order: -2;
    }
    .plano-info:nth-child(2) {
        order: -1;
    }
}

/* Vantagens */
.vantagens {
    max-width: 960px;
    margin: 0 auto;
}

.vantagem-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vantagem-info {
    max-width: 250px;
    margin: 10px;
}

.vantagem-titulo {
    font-size: 1.86rem;
    font-weight: 400;
    margin-left: 10px;
}

.vantagem-titulo::before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 10px;
    margin-right: 6px;
}

.vantagem-info:nth-of-type(3n+1) .vantagem-titulo::before {
    background-color: var(--clr-green-light);
}

.vantagem-info:nth-of-type(3n+2) .vantagem-titulo::before {
    background-color: var(--clr-pink-dark);
}

.vantagem-info:nth-of-type(3n+3) .vantagem-titulo::before {
    background-color: var(--clr-green-dark);
}

@media (max-width: 800px){
    .vantagem-info{
        max-width: 220px;
    }
}
/* newsletter */
.newsletter {
    background-color: var(--clr-green-light);
}

.newsletter-c {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info {
    flex: 1 1 260px;
    padding-left: 10px;
    align-items: flex-start;
}

.newsletter-titulo {
    font-size: 2.90rem;
    font-weight: bold;
}

.newsletter-discricao {
    font-style: italic;
}

.newsletter-form {
    flex: 2 1 260px;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form__input {
    flex: 2 1 260px;
    padding: 10px;
    border: none;
    border: 10px solid var(--clr-pink-dark);
    font-size: 1.32rem;
    font-style: italic;
    margin: 0;
    border-radius: 0;
}

.newsletter-button {
    flex: 3 1 260px;
    border: none;
    border: 10px solid var(--clr-pink-dark);
    font-size: 2.32rem;
    font-weight: bold;
    background-color: var(--clr-pink-dark);
}

/* footer */

.footer {
    background-color: var(--clr-pink-light);
}

.footer-c {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.footer-info {
    font-size: 17px;
}

.footer-img {
    padding-left: 5px;
}