@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

p {
    line-height: 22.2px;
}

li {
    list-style: none;
}
:root {
    --cor1: rgba(0, 0, 0, 0.6);
    --cor2: #1db954;
    --cor3: #919496;
    --cor-hover: #1ed760;
}

/* últeis  */
.logo {
    width: 140px;
    display: block;
}

a,
a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
    color: white;
}

/* header */
header li + li {
    margin-left: 20px;
}

.header {
    background-color: var(--cor1);
}

.header_c {
    max-width: 60%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header-items {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    display: block;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.header-items .header_item a {
    transition: 0.4s;
}
.header_item a:hover {
    color: var(--cor-hover);
}
