@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family:'Vollkorn', serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    background-color: black;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;

}

.container div {
    background-color: cadetblue;
    height: 50%;
    width: 50%;
}